.display__main {
  width: 1020px;
  margin: 0px auto;
  padding-top: 10px;

  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 20px 0;

    &__title {
      display: flex;

      &__logo {
        font-size: 50px;
      }     
      &__text {
        font-size: 30px;
        position: absolute;
        bottom: 10px;
        left: 80px;      
      }
    }
    &__date {
      font-size: 25px;
      position: absolute;
      bottom: 10px;
      right: 0px;    
    }
  }
  &__info {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    font-size: 25px;
    
    &__company {
      margin: 0 80px;
      border-bottom: solid 3px #668ad8;
    }

    &__construction {
      margin: 0 80px;
      border-bottom: solid 3px #668ad8;
    }
  }
  &__work-content {
    margin: 20px 0;
    font-size: 25px;
    padding: 0.5em 1em;
    font-weight: bold;
    border: solid 3px #1dc1d6;
    border-radius: 10px;
  }
  &__table {

    table {
      border-collapse: collapse;
      margin: 40px auto;
      width: 900px;
      table-layout: fixed;
      font-size: 25px;

      tr {
        padding: .35em;
        border-bottom: 1px solid #bbb;

        th {
          border-bottom: 5px solid #ff9900;
          padding: 1em 10px 1em 1em;
          border-right: 1px solid #bbb;
          color: #ff9901;
          text-align: center;
        }
        td {
          padding: 1em 10px 1em 1em;
          border-right: 1px solid #bbb;
          font-weight: bold;
        }
        th:last-child,
        td:last-child{
          border-right: none;
        }
      }
      tr:last-child{
        border-bottom: none
      }
    }
  }
  &__safety-goals {
    border-bottom: 1px solid;
    font-size: 25px;
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    font-weight: bold;
    border-top: 1px solid;

  }
  &__under {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    font-size: 20px;
    padding: 20px;

    &__leader {
      border-bottom: solid 2px #1dc1d6;
      padding: 10px;
    } 
    &__workers {
      border-bottom: solid 2px #1dc1d6;
      padding: 10px;
    }
    &__return {
      border: solid 2px #1dc1d6;
      padding: 10px;
      border-radius: 10px;
      color: gray;
    }
    a {
      text-decoration: none;

    }
  }
}