.bread_crumbs {
  border-top: 1px solid #eee;
  background: #fff;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  padding: 15px 0;
}

.breadcrumbs {
  margin : 0 127px;
}

.breadcrumbs-list a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.breadcrumbs-list i {
  color: #888;
  font-size: 12px;
  margin: 0 8px;
} 


.breadcrumbs-list span {
  font-weight: bold;
}