.signup__main__form__title__sex {
  width: 170px;
  margin-top: 15px;
  float: right;
  padding-left: 10px;
  height: 88px;

  &__content {
    line-height: 70px;
  }
  label {
    margin-right: 5px;
  }
  .signup__main__form__title__radio {
    font-size: 20px;
  }
}
.signup__main__form__title__blood {
  width: 170px;
  margin-top: 15px;
}

#user_blood_type {
  font-size: 20px;
  width: 80%;
  height: 48px;
}

.signup__main__form__birthday {
  display: flex;
  justify-content: space-between;

  &__year {
    width: 100%;
    select {
      font-size: 20px;
      width: 75%;
      height: 48px;
    }
  }
  &__month {
    width: 100%;
    select {
      font-size: 20px;
      width: 75%;
      height: 48px;
    }
  }
  &__day {
    width: 100%;
    select {
      font-size: 20px;
      width: 75%;
      height: 48px;
    }
  }
}


